<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqupt.nmid.homeworksystem.dao.HomewoksMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cqupt.nmid.homeworksystem.po.Homewoks">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="subclass_id" jdbcType="INTEGER" property="subclassId" />
    <result column="publishtime" jdbcType="TIMESTAMP" property="publishtime" />
    <result column="deadline" jdbcType="TIMESTAMP" property="deadline" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="attachment" jdbcType="VARCHAR" property="attachment" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, subclass_id, publishtime, deadline, info, attachment
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from homewoks
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from homewoks
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.cqupt.nmid.homeworksystem.po.Homewoks">
    insert into homewoks (id, title, subclass_id, 
      publishtime, deadline, info, 
      attachment)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{subclassId,jdbcType=INTEGER}, 
      #{publishtime,jdbcType=TIMESTAMP}, #{deadline,jdbcType=TIMESTAMP}, #{info,jdbcType=VARCHAR}, 
      #{attachment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.cqupt.nmid.homeworksystem.po.Homewoks">
    insert into homewoks
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="subclassId != null">
        subclass_id,
      </if>
      <if test="publishtime != null">
        publishtime,
      </if>
      <if test="deadline != null">
        deadline,
      </if>
      <if test="info != null">
        info,
      </if>
      <if test="attachment != null">
        attachment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="subclassId != null">
        #{subclassId,jdbcType=INTEGER},
      </if>
      <if test="publishtime != null">
        #{publishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deadline != null">
        #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null">
        #{attachment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.cqupt.nmid.homeworksystem.po.Homewoks">
    update homewoks
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="subclassId != null">
        subclass_id = #{subclassId,jdbcType=INTEGER},
      </if>
      <if test="publishtime != null">
        publishtime = #{publishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deadline != null">
        deadline = #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null">
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cqupt.nmid.homeworksystem.po.Homewoks">
    update homewoks
    set title = #{title,jdbcType=VARCHAR},
      subclass_id = #{subclassId,jdbcType=INTEGER},
      publishtime = #{publishtime,jdbcType=TIMESTAMP},
      deadline = #{deadline,jdbcType=TIMESTAMP},
      info = #{info,jdbcType=VARCHAR},
      attachment = #{attachment,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>