<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqupt.nmid.homeworksystem.dao.QuestionMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cqupt.nmid.homeworksystem.po.Question">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="u_id" jdbcType="INTEGER" property="uid" />
    <result column="subject_id" jdbcType="INTEGER" property="subjectId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="view" jdbcType="INTEGER" property="view" />
    <result column="answernum" jdbcType="INTEGER" property="answernum" />
  </resultMap>
  <sql id="Base_Column_List">
        id, content, u_id, subject_id, title, view, answernum
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from question
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from question
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.cqupt.nmid.homeworksystem.po.Question">
    insert into question (id, content, u_id,
      subject_id, title, view, 
      answernum)
    values (#{id,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER},
      #{subjectId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{view,jdbcType=INTEGER}, 
      #{answernum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.cqupt.nmid.homeworksystem.po.Question" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into question
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="content != null">
        content,
      </if>
      <if test="uid != null">
        u_id,
      </if>
      <if test="subjectId != null">
        subject_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="view != null">
        view,
      </if>
      <if test="answernum != null">
        answernum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="subjectId != null">
        #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="view != null">
        #{view,jdbcType=INTEGER},
      </if>
      <if test="answernum != null">
        #{answernum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.cqupt.nmid.homeworksystem.po.Question">
    update question
    <set>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        u_id = #{uid,jdbcType=INTEGER},
      </if>
      <if test="subjectId != null">
        subject_id = #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="view != null">
        view = #{view,jdbcType=INTEGER},
      </if>
      <if test="answernum != null">
        answernum = #{answernum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cqupt.nmid.homeworksystem.po.Question">
    update question
    set content = #{content,jdbcType=VARCHAR},
      u_id = #{uid,jdbcType=INTEGER},
      subject_id = #{subjectId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      view = #{view,jdbcType=INTEGER},
      answernum = #{answernum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <resultMap id="questionVo" type="cn.edu.cqupt.nmid.homeworksystem.po.vo.QuestionVo">
    <id property="id" column="id"></id>
    <result property="title" column="title"></result>
    <result property="content" column="content"></result>
    <result property="view" column="view"></result>
    <result property="name" column="sname"></result>
    <result property="answer" column="answernum"></result>
  </resultMap>

  <select id="listQuetionsBySubjectId" resultMap="questionVo">
    select * from questionview where subject_id = #{subjectId};
  </select>
</mapper>