<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqupt.nmid.homeworksystem.dao.SubjectMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cqupt.nmid.homeworksystem.po.Subject">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="suname" jdbcType="VARCHAR" property="suname" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, suname, tid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from subject
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from subject
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.cqupt.nmid.homeworksystem.po.Subject">
    insert into subject (id, suname, tid
      )
    values (#{id,jdbcType=INTEGER}, #{suname,jdbcType=VARCHAR}, #{tid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.cqupt.nmid.homeworksystem.po.Subject">
    insert into subject
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="suname != null">
        suname,
      </if>
      <if test="tid != null">
        tid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="suname != null">
        #{suname,jdbcType=VARCHAR},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.cqupt.nmid.homeworksystem.po.Subject">
    update subject
    <set>
      <if test="suname != null">
        suname = #{suname,jdbcType=VARCHAR},
      </if>
      <if test="tid != null">
        tid = #{tid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cqupt.nmid.homeworksystem.po.Subject">
    update subject
    set suname = #{suname,jdbcType=VARCHAR},
      tid = #{tid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from subject;
  </select>

</mapper>